

.mw-parser-output a.external.text[href^='//']:after,.mw-parser-output a.external.autonumber[href^='//']:after{content:' (https:' attr(href) ')'}}div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,ins,em,img,small,strike,strong,sub,sup,tt,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,button,select,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;background:none}table,caption,tbody,tfoot,thead,tr,th,td{font-size:100%}caption{font-weight:bold}button{border:0;background-color:transparent;cursor:pointer}input{line-height:normal}ul{list-style:none}table{border-collapse:collapse}html,body{height:100%}html{font-size:100%;-webkit-text-size-adjust:none}body{background-color:#ffffff;color:#202122;margin:0}main{display:block} 




.mw-headline,.content .mw-parser-output > h2 .mw-headline,.content .mw-parser-output > h3 .mw-headline,.content .mw-parser-output > h4 .mw-headline,.content .mw-parser-output > h5 .mw-headline{width:100%}.content .mw-parser-output > h1 > span,.content .mw-parser-output > h2 > span,.content .mw-parser-output > h3 > span,.content .mw-parser-output > h4 > span,.content .mw-parser-output > h5 > span{display:table-cell}.content .mw-editsection > .mw-ui-icon-element{margin-top:-0.75em;margin-bottom:-0.75em}#page-secondary-actions a{margin:10px 2px 2px 0}#bodyContent .panel .content,.overlay .content-header,.overlay .panel,.page-list.side-list .list-thumb,.page-list li,.topic-title-list li,.site-link-list li,.drawer,.list-header,.mw-revision{padding-left:16px;padding-right:16px}.talk-overlay .comment .comment-content,.image-list,.pre-content,#mw-content-text > form > .oo-ui-fieldLayout > .oo-ui-fieldLayout-body,#mw-content-text > form > .oo-ui-widget,.content,.post-content{margin:0 16px}.minerva__subtitle{margin-top:10px;margin-bottom:10px}.minerva__subtitle:empty{margin:0}@media all and (min-width:720px){.page-summary-list,.topic-title-list,.site-link-list,.overlay .panel,.list-header{padding-left:3.35em;padding-right:3.35em}}.heading-holder{padding:20px 0 0;position:relative}.heading-holder .tagline{color:#54595d;font-size:0.85em}.page-heading{margin-bottom:12px}



 
 
 
 
 
 .pre-content h1,.content h1,.content h2{font-family:'Linux Libertine','Georgia','Times',serif}.pre-content h1,.content h1,.content h2,h3,h4,h5,h6{line-height:1.3;word-wrap:break-word;word-break:break-word}.content h2,.content h3,.content h4,.content h5,.content h6{padding:0.5em 0}.content p + h3{margin-top:1.5em}.content{}.content ol{padding-left:2.25em}.content ul{list-style-type:disc;padding-left:1em}.content ul > li > ul{list-style-type:circle}.content ul > li > ul > li > ul{list-style-type:square}.content ol ol,.content ul ol,.content ol ul,.content ul ul{margin-left:1em}.content li{margin-bottom:10px}.content li:last-child{margin-bottom:inherit}dl{margin-left:1em}dl dt{font-weight:bold}dl dd{display:block;overflow:auto}a:not([href]){color:#202122;cursor:pointer}a{color:#3366cc;text-decoration:none;background:none}a:visited{color:#6b4ba1}a:active{color:#faa700}a:hover{text-decoration:underline}a.external,.mw-parser-output a.external{background-position:center right;background-repeat:no-repeat;background-size:10px;padding-right:13px}
 
 
 
 
 
 
  .
  
  
  
  
  
  

  
  
  
  
  
.nomobile{display:none !important}@supports (font:-apple-system-body){html{font:-apple-system-body}body{font-size:94.11764706%}@media all and (max-width:320px - 1){body{font-size:75.29411765%}}}.content figure,.content .thumb{margin:0.6em 0}.content figure .thumbinner,.content .thumb .thumbinner{margin:0 auto;max-width:100% !important}.content figcaption,.content .thumbcaption{margin:0.5em 0 0;font-size:0.8125rem;line-height:1.5;padding:0 !important;color:#54595d}.content .thumbcaption{width:auto !important}.content .mw-image-border,.content .thumbborder{border:1px solid #c8ccd1}.content .magnify{display:none}.content img{vertical-align:middle}}
 
 
 
 


.content .noresize{max-width:100%;overflow-x:auto}.content .noresize a > img{max-width:none !important}h1{font-size:1.7em}h2{font-size:1.5em}h3{font-size:1.2em;font-weight:bold}h4{font-weight:bold}
.pre-content h1,.content h1,.content h2,h3,h4,h5,h6{line-height:1.3;word-wrap:break-word;word-break:break-word}
